.employee-table {
  width: 80%;
  min-width: 800px;
}

.page-header__content {
  color: #0062ff;
}

/* HEADER */
.employee-table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-table__header__entries {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
}

.select {
  height: 18px;
}

.select:hover {
  cursor: pointer;
}

.employee-table__header__search {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
}

.search-input {
  height: 18px;
}

/* TABLE HEADER */

.table__header {
  border-bottom: 1px solid black;
}

.table__header__content {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}
/* 
.table__header__content__item {
  font-weight: 700;
}  */

.employee-table__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}

/* FOOTER */

.employee-table__footer__tablenav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.nav-btn {
  border: none;
  background-color: transparent;
}

.nav-btn:hover {
  cursor: pointer;
}

/* tbody {
  display: table-row-group;
} */

/* td {
  box-sizing: content-box;
  background-color: grey;
} */

/* .data__content--nodata {
  background-color: rgb(236, 235, 235);
  padding: 10px 0;
  text-align: center;
} */

/* .employee-info {
  display: flex;
  justify-content: space-between;
} */

.table__header__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-items: center;
  column-gap: 16px;
}

.table__header__content__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  justify-self: left;
  width: 100%;
  font-weight: 700;
}

.employee-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  align-items: center;
  justify-items: center;
  column-gap: 16px;
}

.employee-info__item {
  /* text-align: center; */
  /* justify-self: center; */
}

.employee-info:nth-child(odd) {
  background-color: #fffffc;
}

.table__content__empty {
  text-align: center;
  background-color: #f9f9f9;
  padding: 10px 0;
}

.empty-text {
  margin: 0;
}

.icon-wrapper {
  position: relative;
  width: 15px;
  height: 15px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  transition: all 300ms;
}

.icon--triangle {
  fill: #0062ff;
}

.ascending {
  transform: rotateZ(0);
}

.descending {
  transform: rotateZ(180deg);
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  background-color: #0062ff;
  color: #fffffc;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #0062ff;
  transition: all 300ms;
  margin-top: 18px;
  margin-bottom: 50px;
}

.button:hover {
  color: #0062ff;
  background-color: #fffffc;
  border: 1px solid #0062ff;
  transition: all 300ms;
}

.button:hover .icon {
  fill: #0062ff;
  transition: all 300ms;
}
