.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  width: 100%;
  margin-top: 10%;
}

.title {
  font-weight: 700;
  color: #0062ff;
}

.label {
  color: rgb(0, 0, 32);
}

.input {
  padding: 5px;
  padding-left: 10px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  background-color: #0062ff;
  color: #fffffc;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #0062ff;
}

.button:hover {
  color: #0062ff;
  background-color: #fffffc;
  border: 1px solid #0062ff;
  transition: all 300ms;
}

.icon-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
}

.icon-wrapper:hover {
  cursor: pointer;
}

.icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fffffc;
  transition: all 300ms;
}

.icon .hide {
  display: none;
}

.date-picker input {
  padding: 5px;
  padding-left: 10px;
}

.button--save {
  margin-top: 18px;
  margin-bottom: 50px;
}

.button:hover .icon {
  fill: #0062ff;
  transition: all 300ms;
}

.error-message {
  color: red;
  font-size: 13px;
  display: block;
}
